{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

    <div class="container text-center my-5">

        <img class="mb-3" src="{% static 'portfolio/lorelin.jpg' %}">
        <h1>Кара Делевинь - британская модель и актриса</h1>
    </div>


    <div class="container text-left">
        <h2>Портфолио</h2>
        <hr>
        <div class="container">
            <div class="row">
                {% for project in projects %}
                    <div class="col">
                        <h1>{{ project.title }}</h1>
                        <p>{{ project.description }}</p>
                        <img src="{{ project.image.url }}" alt="" width="300" height="420">
                        <br>
                        {% if project.url %}
                            <a href="{{ project.url }}">Ссылка</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}





